@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
    --eerie-black: #252422;
    --void-blue: #1a171d;
    --black-olive: #403d39;
    --less-white: #c5c5c5;
    --safety-orange: #ff7900;
    --orange: #ff871f;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    background-color: var(--eerie-black);
}

body::after {
    content: "";
    display: block;
    height: 100px;
}

.landing-page {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/background.jpg");
}

h1,
h2,
h3,
p,
a,
button,
label,
textarea {

    font-family: "Roboto", sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

input,
button,
textarea {
    border: none;
    outline: none;
    border-radius: 5px;
}

button {
    background: var(--safety-orange);
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

button:hover,
button:active,
button:focus {
    background-color: var(--orange);
}

/**********NAVIGATION**********/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--void-blue);
}

nav ul {
    display: flex;
    padding-right: 2.5%;
}

nav ul li a {
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0 22px;
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 3px;
}

nav ul li a:hover {
    color: var(--safety-orange);
}

.logo {
    padding-left: 2.5%;
}

main {
    width: 100%;
    height: 1080px;
    position: relative;
    /*
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/background.jpg");
    */
}

/**********Landing Page**********/

.landing-page nav {
    justify-content: space-around;
}

.heading h1 {
    font-size: 3.438rem;
    text-align: center;
    margin: 0;
    padding-bottom: 0.5rem;
    letter-spacing: 0.15rem;
    position: absolute; /*or fixed*/
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 3px var(--void-blue);
}

.get-started-btn {
    background-color: var(--safety-orange);
    border: none;
    margin: 4px 2px;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

/**********Login & Registration Page**********/

.login-page {
    background: var(--void-blue);
    margin-top: 300px;
    margin-left: 780px;
    margin-right: 780px;
    width: 360px;
}

.login-page h2 {
    margin-top: 0px;
}

.login-form {
    position: relative;
    z-index: 1;
    background: var(--eerie-black);
    max-width: 360px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-form input {
    outline: 0;
    background: var(--less-white);
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.login-btn {
    width: 100%;
    padding: 15px;
    font-size: 20px;
}

.login-form .message {
    margin: 15px 0 0;
    color: var(--less-white);
    font-size: 12px;
}

.login-form .message a {
    color: var(--safety-orange);
    text-decoration: none;
}

/**********Home Page**********/

.welcome-msg {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.welcome-msg h1 {
    color: var(--less-white);
    font-weight: 400;
    font-size: 50px;
}

.welcome-msg a {
    transition: color 0.3s;
}

.welcome-msg a:hover {
    color: var(--safety-orange);
}

/*****filter menu*****/

#primary_nav_wrap {
    font-size: 1.25rem;
    margin-left: 16.5%;
    margin-right: 16.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--less-white);
}

/* #browse-by{
    color: var(--less-white);
    margin-bottom: 10px;
} */

.search-form input {
    background: var(--less-white);
    margin-top: 10px;
    padding: 10px;
    width: 500px;
    font-size: 14px;
}

.search-form button {
    margin-right: 10px;
    padding: 10px;
}

#primary_nav_wrap ul {
    position: relative;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 0;
}

#menu-name {
    border-color: var(--less-white);
    border-style: solid;
    border-width: 0.1px;
    border-radius: 2px;
}

#menu-name ul {
    border-color: var(--less-white);
    border-style: solid;
    border-width: 0.1px;
    border-radius: 2px;
}

#primary_nav_wrap ul a {
    display: block;
    color: var(--less-white);
    font-weight: 700;
    font-size: 12px;
    line-height: 32px;
    padding: 0 15px;
}

#primary_nav_wrap ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

/*
#primary_nav_wrap ul li.current-menu-item
{
	background: ;
}
*/

#primary_nav_wrap ul li:hover {
    background: var(--void-blue);
}

#primary_nav_wrap ul ul {
    margin: 0px;
    display: none;
    position: absolute;
    background: var(--eerie-black);
}

#primary_nav_wrap ul ul li {
    float: none;
    width: 200px;
}

#primary_nav_wrap ul ul a {
    line-height: 120%;
    padding: 10px 15px;
}

#primary_nav_wrap ul ul ul {
    top: 0;
    left: 100%;
}

#primary_nav_wrap ul li:hover > ul {
    display: block;
}

/*****Game Cards*****/

.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
}

.game-card {
    margin: auto;
    margin-bottom: 20px;
}
.game-card img {
    border-radius: 10px;
    border: 2px solid transparent;
    transition: border 0.3s;
}

.game-card img:hover {
    border: 2px solid var(--safety-orange);
}

/*****Game Info Page*****/

.game-info {
    /* border-bottom: 1px solid var(--less-white); */
    margin-top: 1%;
    margin-left: 13.5%;
    margin-right: 13.5%;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
}

.info-container {
    display: flex;
    margin-left: 24px;
}

.info-container img {
    width: 24rem;
    border-radius: 5px;
}

.game-details {
    margin-bottom: none;
    margin-left: 50px;
}

.game-details h2 {
    font-size: 3.125rem;
    margin: auto;
}

.other-details {
    margin-top: -10px;
    display: flex;
}

.other-details h3 {
    font-size: 25px;
    font-weight: 400;
}

.game-year {
    color: var(--less-white);
}

.game-studio {
    margin-left: 10px;
}

.game-description {
    font-size: x-large;
    font-weight: 300;
    margin-top: -5px;
    width: 60%;
}

.game-btn {
    display: flex;
    column-gap: 15px;
}

.game-btn button {
    font-size: 17px;
    padding: 7px;
    transition: background-color 0.5s;
}

.game-btn button:hover {
    background-color: var(--orange);
}

/*********Log Game Form*********/

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: var(--eerie-black);
    margin: 5% auto 15% auto;
    width: 50%;
    border-radius: 10px;
}

.log-title-year {
    display: flex;
}

.log-title-year h3 {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 40px;
}

.log-game-title {
    margin-left: 30px;
}

.log-game-year {
    color: var(--less-white);
    font-weight: 400;
    margin-left: 15px;
}

.log-title-year .game-year {
    color: var(--less-white);
    font-weight: 400;
}

.log-rating-date {
    margin-top: 20px;
    display: flex;
}

.rating-container {
    display: flex;
    font-size: 25px;
}

.rating-container h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
}


.rating-group {
    display: inline-flex;
}


.rating__icon {
    pointer-events: none;
}

/* hide radio inputs */
.rating__input {
    position: absolute !important;
    left: -9999px !important;
}

/* set icon padding and size */
.rating__label {
    cursor: pointer;
    padding: 0 8px;
    font-size: 30px;
}

/* add padding and positioning to half star labels */
.rating__label--half {
    margin-left: 5px;
    padding-right: 0;
    margin-right: -43px;
    z-index: 2;
}


.rating__icon--star {
    color: var(--safety-orange);
}


.rating__icon--none {
    color: #eee;
}

/* if any input is checked, make its following siblings grey */
.rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
}

/* make all stars orange on rating group hover */
.rating-group:hover .rating__label .rating__icon--star,
.rating-group:hover .rating__label--half .rating__icon--star {
    color: var(--safety-orange);
}

/* make hovered input's following siblings grey on hover */
.rating__input:hover ~ .rating__label .rating__icon--star,
.rating__input:hover ~ .rating__label--half .rating__icon--star {
    color: #ddd;
}

/* make none icon grey on rating group hover */
.rating-group:hover
    .rating__input--none:not(:hover)
    + .rating__label
    .rating__icon--none {
    color: #eee;
}

.date-container {
    display: flex;
    margin-left: 15px;
}

.date-container h3 {
    margin: 0px;
    font-size: 30px;
}

.date-container input {
    margin-left: 15px;
}

.date-picker {
    background-color: var(--less-white);
}
.review {
    margin-top: 15px;
    margin-left: 30px;
}

.review textarea {
    background-color: var(--less-white);
    color: var(--void-blue);
    font-size: 25px;
    width: 850px;
    height: 300px;
    padding: 12px;
    resize: none;
}

.review textarea::placeholder {
    font-size: 25px;
    font-weight: 400;
    color: var(--void-blue);
}

.log-btn {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.log-btn h2 {
    margin: auto;
}

.log-btn button {
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    transition: background-color 0.5s;
}

.cancel-btn {
    background-color: var(--void-blue);
}

.cancel-btn:hover {
    background-color: var(--void-blue);
    opacity: 0.9;
}


/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/*****User Reviews*****/

.user-reviews {
    margin-left: 13.5%;
    margin-right: 13.5%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.user-reviews .header {
    width: 100%;
    border-bottom: 1px solid var(--less-white);
}

.user-reviews .header h3 {
    text-transform: uppercase;
    margin-top: 0px;
    padding-left: 24px;
    margin-bottom: 0px;
    font-weight: 400;
    /* font-size: 30px; */
}

.user-info {
    display: flex;
    margin-top: 20px;
    margin-left: 24px;
    align-items: center;
}

.user-info img {
    aspect-ratio: 1/1;
    border-radius: 50%;
    height: 55px;
}

.user-info .review-by {
    margin-left: 20px;
    color: var(--less-white);
}

.user-info .reviewer-name {
    margin-left: 5px;
}

.user-reviews p {
    margin: 0px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.user-reviews-border {
    border-bottom: 1px solid var(--less-white);
}
/*****Profile Page*****/

.profile-header,
.favourite-games {
    display: flex;
    margin-top: 70px;
    margin-left: 13.5%;
    margin-right: 13.5%;
    padding-left: 24px;
    justify-content: space-between;
}

.profile-info {
    display: flex;
    align-items: center;
    padding-left: 18px;
}

.profile-info img {
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: border 0.3s;
    width: 260px;
}

.profile-info img:hover {
    border: 2px solid var(--safety-orange);
}

.profile-name-btn {
    padding-left: 24px;
    font-size: 25px;
}

.profile-name-btn h2 {
    margin: auto;
}

.profile-name-btn button {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
    padding: 7px;
    transition: background-color 0.5s;
}

.profile-stats {
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.profile-stats div {
    padding: 0 20px;
}

.profile-stats h2 {
    margin: auto;
    font-size: 75px;
    font-weight: 700;
    text-align: center;
}

.profile-stats h3 {
    margin: auto;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

.games-played {
    margin-right: 50px;
}

.favourite-games {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.favourite-games .header {
    text-transform: uppercase;
    border-bottom: 1px solid var(--less-white);
}

.favourite-games h3 {
    padding-left: 24px;
    margin-bottom: 0px;
    font-weight: 400;
}

.fav-games-grid {
    display: grid;
    grid-template-columns: repeat(5, 270px);
    margin-top: 2%;
    height: 400px;
    align-content: center;
}

.fav-game-card {
    margin: auto;
    height: 400px;
}
.fav-game-card img {
    height: 320px;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: border 0.3s;
}

.fav-game-card img:hover {
    border: 2px solid var(--safety-orange);
}

.recently-played {
    margin-left: 13.5%;
    margin-right: 13.5%;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
}

.recently-played .header {
    width: 100%;
    border-bottom: 1px solid var(--less-white);
}

.recently-played .header h3 {
    text-transform: uppercase;
    margin-top: 0px;
    padding-left: 24px;
    margin-bottom: 0px;
    font-weight: 400;
}

.recently-played p {
    margin-top: 5px;
    padding-left: 15px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 20px;
}

.rp-container {
    display: flex;
    margin-top: 20px;
    margin-left: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--less-white);
}

.rp-review .rev-title{
    margin: 0px;
    padding-left: 14px;
    font-weight: 700;
    font-size: 30px;
}

.rp-review .rev-year{
    margin: 0px;
    padding-left: 15px;
    font-weight: 400;
    font-size: 30px;
    color: var(--less-white);
}

.review-title-year {
    display: flex;
}

.rev-rating-date {
    display: flex;
}

.rev-rating-date h3 {
    color: var(--less-white);
    font-weight: 400;
    font-style: italic;
    margin: 0px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.rv-rating-group {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-flex;
}

/* set icon padding and size */
.rv-rating__label {
    color: var(--less-white);
    padding: 0 3px;
    font-size: 20px;
}

/* add padding and positioning to half star labels */
.rv-rating__label--half {
    color: var(--less-white);
    margin-left: 5px;
    padding-right: 0;
    margin-right: -26px;
    z-index: 1;
}

.checked {
    color: var(--safety-orange);
}

.rp-container img {
    aspect-ratio: 3/4;
    height: 200px;
    border-radius: 10px;
}

/*****Edit Profile Page*****/

.edit-profile-container {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-left: 15.5%;
    margin-right: 15.5%;
    padding-left: 24px;
    justify-content: space-between;
}

.edit-profile-container .header {
    border-bottom: 1px solid var(--less-white);
    font-size: large;
}

.edit-profile-container .header h1 {
    margin-bottom: 0px;
    font-weight: 400;
}

.edit-profile-container .content {
    display: flex;
    margin-top: 50px;
}

.content .info-form {
    margin-right: 160px;
}

.info-form h2 {
    margin-bottom: 5px;
    font-weight: 400;
}

.info-form input {
    background: var(--less-white);
    width: 500px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.save-btn {
    margin-top: 20px;
    text-transform: uppercase;
    background: var(--safety-orange);
    width: 100%;
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.content .cards-image {
    display: grid;
    /* align-content: center; */
}

.cards-image .fav-cards {
    display: grid;
    height: 200px;
    text-transform: uppercase;
}

.fav-cards .fav-header {
    width: 640px;
    border-bottom: 1px solid var(--less-white);
}

.fav-header h3 {
    margin-bottom: 0px;
    font-weight: 400;
}

.add-fav-grid {
    display: grid;
    padding-left: 24px;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 2%;
}

.add-fav-card {
    margin: 0px;
    width: 100px;
}

.add-fav-card img {
    width: 100px;
    border-radius: 5px;
}

/* .cards-image .profile-pic{
    height: 210px;
}

.profile-pic .add-pic {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.profile-pic img {
    height: 160px;
    width: 160px;
}

.profile-pic h3 {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
} */

/*****Footer*****/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: var(--void-blue);
    font-weight: 400;
    font-size: 20px;
}

.footer p {
    color: var(--less-white);
}

.footer a {
    color: white;
}
/*border: 1px solid;*/
